In [1]:
import pandas as pd

# Replace 'your_dataset.csv' with the path to your dataset
df = pd.read_csv('CleanedGameStats.csv')
# Display the first few rows of the dataframe
df.head()

,Date,Home,Away,HomeWins,HPassCmp,APassCmp,HPassAtt,APassAtt,HPassPct,APassPct,...,HFGPercent,AFGPercent,HKickPts,AKickPts,HFum,AFum,HInt,AInt,HTotalTO,ATotalTO
0,9/4/2015,Georgia State,Charlotte,0,25,19,43,32,58.1,59.4,...,66.7,100.0,8,11,2,2,1,2,3,4
1,9/4/2015,Western Michigan,Michigan State,0,33,15,50,31,66.0,48.4,...,50.0,100.0,6,7,0,1,2,0,2,1
2,9/3/2015,Central Michigan,Oklahoma State,0,29,22,42,32,69.0,68.8,...,100.0,33.3,7,6,0,0,1,0,1,0
3,9/3/2015,Hawaii,Colorado,1,19,23,38,40,50.0,57.5,...,100.0,100.0,8,8,0,2,2,1,2,3
4,9/3/2015,Idaho,Ohio,0,36,20,48,25,75.0,80.0,...,100.0,50.0,8,9,1,1,2,0,3,1